@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url(../css/root.css);

.max-w-1140 {
    max-width: 1140px !important;
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
}

.rotate40 {
    transform: rotate(42deg);
}

.z-5 {
    z-index: 5;
}

.rotate-45 {
    transform: rotate(-43deg);
}

.h-810{
    height: 810px;
}

@media (max-width:991.98px) {
    .nav-link {
        display: flex !important;
        flex-direction: column;
        background-color: var(--bg-color-infinite-night) !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 5;
    }

    .show-navbar {
        right: 0 !important;
    }
}