@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url(root.css);

.max-w-1140 {
    max-width: 1140px !important;
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.rotate40 {
    transform: rotate(42deg);
}

.z-5 {
    z-index: 5;
}

.rotate-45 {
    transform: rotate(-43deg);
}

.py-30 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.blur-20 {
    background: var(--color-light-black);
}

.text-hover {
    padding: 2px 0;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.text-hover::before {
    content: '';
    background: #059EF1;
    position: absolute;
    bottom: 0px;
    width: 0;
    height: 2px;
    transition: all 0.3s ease-in-out;
}

.text-hover:hover::before {
    width: 100%;
}

.circle {
    height: 29px;
    width: 29px;
    border-radius: 100px;
    border: 1px solid;
    border-color: var(--color-white);
    transition: all 200ms linear;
}

.circle:hover {
    transform: translateY(-5px);
}

/* header */
.bg-img-1 {
    background-image: url(../images/png/header-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.mt-75 {
    margin-top: 75px;
}

.gap-39 {
    gap: 39px;
}

.gap-14 {
    gap: 14px;
}

.fw-900 {
    font-weight: 900;
}

.max-w-561 {
    max-width: 561px;
}

.pb-44 {
    padding-bottom: 44px;
}

.mb-12 {
    margin-bottom: 12px;
}

.gap-29 {
    gap: 29px;
}

.mt-133 {
    margin-top: 20px !important;
}

.mt-107 {
    margin-top: 20px !important;
}

.join-btn {
    padding: 16px 32px;
    border-radius: 30.5px;
    border: none;
    background: linear-gradient(135.55deg, #06AFF2 -2.07%, #056BF1 105.81%);
}

.join-btn:hover {
    box-shadow: inset 0 0 20px rgba(0, 17, 255, 0.5), 0 0 20px rgba(13, 158, 194, 0.2);
}

.white-btn {
    padding: 16px 32px;
    border-radius: 30.5px;
    border: none;
    background: transparent;
    transition: 200ms linear;
}

.white-btn:hover {
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
}

.layer {
    bottom: -1px;
}

/* section 1 */
.bg-img-2 {
    background-image: url(../images/png/section-1-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.mt-223 {
    margin-top: 223px;
}

.mt-199 {
    margin-top: 199px;
}

.mb-74 {
    margin-bottom: 74px;
}

.mb-7 {
    margin-bottom: 7px;
}

/* section 2 */
.pt-36 {
    padding-top: 36px;
}

.mt-78 {
    margin-top: 78px;
}

.max-w-946 {
    max-width: 946px;
}

.grid-box {
    display: grid;
    grid-column: auto;
    grid-row: auto;
    grid-gap: 16.55px !important;
}

.grid-parent .grid-item-1 {
    grid-column: 1/2;
    grid-row: 1/4;
}

.grid-parent .grid-item-2 {
    grid-column: 2/3;
    grid-row: 1/3;
}

.grid-parent .grid-item-3 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.grid-parent .grid-item-4 {
    grid-column: 4/5;
    grid-row: 1/2;
}

.grid-parent .grid-item-5 {
    grid-column: 3/5;
    grid-row: 2/3;
}

.grid-parent .grid-item-6 {
    grid-column: 2/5;
    grid-row: 3/4;
}

.grid-parent .grid-item {
    cursor: pointer;
    overflow: hidden;
}

.grid-parent .grid-item img {
    object-fit: cover;
    -o-object-fit: cover;
    transition: all 200ms linear;
}

.grid-parent .grid-item:hover img {
    transform: scale(1.1);
}

.pt-54 {
    padding-top: 54px;
}

.pb-118 {
    padding-bottom: 118px;
}

.pt-77 {
    padding-top: 77px;
}

/* footer */
.footer-bg-img {
    background-image: url(../images/png/footer-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-color {
    background-color: #0D0D0D;
}

.pt-63 {
    padding-top: 63px;
}

.circle-2 {
    height: 54px;
    width: 54px;
    border: 1px solid white;
    border-radius: 100px;
    transition: all 200ms linear;
}

.mt-82 {
    margin-top: 82px;
}

.pb-45 {
    padding-bottom: 45px;
}

.circle-2:hover {
    transform: translateY(-15px);
}

.footer .accordion {
    --bs-accordion-btn-focus-box-shadow: none !important;
    width: 100%;
    --bs-accordion-border-width: none !important;
    margin-top: 46px !important;
}

.footer .accordion-button {
    margin: 24px 0px 17px 0px !important;
    padding: 0 !important;
}

.footer .accordion-body {
    padding: 0px 0px 20px 0px !important;
}

.line {
    border: 1px solid #FFFFFF;
}

.footer .accordion-button:not(.collapsed)::after {
    background-image: url(../images/svg/line.svg);
    background-position: center;
    background-size: contain;
    transform: rotate(0);
}

.footer .accordion-button::after {
    background-image: url(../images/svg/add-svg.svg);
    background-position: center;
    background-size: contain;
}

@media (max-width:991.98px) {
    .nav-link {
        display: flex !important;
        flex-direction: column;
        background-color: var(--color-light-black) !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 5;
        backdrop-filter: blur(20px);
    }

    .show-navbar {
        right: 0 !important;
    }
}

@media (min-width:992px) {
    .blur-20 {
        backdrop-filter: blur(20px);
        background: #00000080;
    }

    .mt-133 {
        margin-top: 133px !important;
    }

    .mt-107 {
        margin-top: 107px !important;
    }
}

@media (min-width:768px) {
    .footer .accordion {
        max-width: 635px !important;
    }
}